.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 0 20px;
  padding-right: 20px;
  background-image: linear-gradient(290deg, #658149 60%, #fffffe);
  overflow: hidden;
  filter: drop-shadow(0 0 0.75rem #544f49);
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 14px;
  text-decoration: none;
  font-size: 18px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLinkButton {
  display: inline-block;
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 18px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  color: #544f49;
}

.navLinkButton:hover {
  color: #544f49;
}
